:root{
  --primary:#63D7B0;
  --primary-dark:#3EB489;
  --accent:#A51608;
  --background:#FAFAFA;
  --surface:#FFFFFF;
  --border:#DDE5E8;
  --text:#2E1D17;
}

html,
body{
    height:100%;
    margin:0;
    background:var(--background);
    font-family:"Inter","Segoe UI",sans-serif;
}

.app{
    display:flex;
    flex-direction:column;
    height:100vh;
}

.app-header{
    height:70px;
    background:white;
    border-bottom:1px solid var(--border);

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 25px;

    box-shadow:0 2px 8px rgba(0,0,0,.05);
}

.app-title{
    font-size:28px;
    font-weight:700;
}

.project-name{
    color:#666;
}

.header-actions{
    display:flex;
    gap:10px;
}

.app-body{
    display:flex;
    flex:1;
    overflow:hidden;
}

.app-sidebar{

    width:240px;

    background:white;

    border-right:1px solid var(--border);

    padding:20px;

}

.menu-item{

    padding:12px;

    border-radius:8px;

    cursor:pointer;

    margin-bottom:5px;

}

.menu-item:hover{

    background:var(--primary);

    color:white;

}

.app-workspace{

    flex:1;

    padding:35px;

    overflow:auto;

}